 <div class='container'>
  <div id='searchBarContainer'>
    <%= form_tag("/students", method: :get) do %>
        Search by Movie: 
      <%= text_field_tag :movie %>
      <%= submit_tag "Search", class:'btn btn-primary'%>
    <% end %>
  </div>
</div>