<div class="container" id="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="students-header">Name</th>
        <th scope="col" class="students-header">Favorite Movie</th>
        <th scope="col" class="students-header">Favorite Food</th>
        <th scope="col" class="students-header">Favorite Color</th>
      </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr class="students-row">
        <td class="students-data"><%= unique_firstname(student) %> </td>
        <td class="students-data"><%= student.favoritemovie %></td>
        <td class="students-data"><%= student.favoritefood %></td>
        <td class="students-data"><%= student.favoritecolor %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

