
<p>
  students works!
</p>

<div id="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="students-header" sortable-column="firstname">First Name</th>
        <th scope="col" class="students-header" sortable-column="favoritemovie">Favorite Movie</th>
        <th scope="col" class="students-header" sortable-column="favoritefood">Favorite Food</th>
        <th scope="col" class="students-header" sortable-column="favoritecolor">Favorite Color</th>
      </tr>
    </thead>
    <tbody>
     
      <tr class="students-row" *ngFor='let student of students'>
        <td class="students-data">{{ student.firstname }} </td>
        <td class="students-data">{{ student.favoritefood }}</td>
        <td class="students-data">{{ student.favoritecolor }}</td>
        <td class="students-data">{{ student.favoritemovie }}</td>
      </tr>
    </tbody>
  </table>
</div>

