 <div class='container'>
  <div id='searchBarContainer'>
    <div>
      Search by Name: <input type ='text' [(ngModel)] = 'filteredFirstname'>
    </div>
  </div>

  <div class='container'>
    <table matSort (matSortChange)="sortData($event)" class="table table-hover">
      <tr>
        <th scope="col" class="students-header" mat-sort-header="firstname">FirstName</th>
        <th scope="col" class="students-header" mat-sort-header="favoritefood">Food</th>
        <th scope="col" class="students-header" mat-sort-header="favoritecolor">Color</th>
        <th scope="col" class="students-header" mat-sort-header="favoritemovie">Movie</th>
      </tr>

      <tr *ngFor="let student of sortedData | filter:filteredFirstname: 'firstname'" class="students-row">
        <td class="students-data">{{ student.firstname }}</td>
        <td class="students-data">{{ student.favoritefood }}</td>
        <td class="students-data">{{ student.favoritecolor }}</td>
        <td class="students-data">{{ student.favoritemovie }}</td>

      </tr>
    </table>
  </div>

</div> 